* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  overflow-x: hidden;
  background: #070b0d;
}

/*Banner */
.banner {
  max-width: 1000px;
  height: 100vh;
  margin: auto;

  background: url(./assets/background.png) no-repeat center -30px;
  background-size: cover;
}
@media (min-resolution: 2dppx) {
  .banner { background-image: url(./assets/background@2x.png); }
}
@media (min-resolution: 3dppx) {
  .banner { background-image: url(./assets/background@3x.png); }
}

.banner__container {
  position: relative;
  padding: 43px 24px 8px 24px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
}

.banner__close {
  position: absolute;
  top: 43px;
  left: 22px;
}

.banner__title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 48px rgba(4, 3, 26, 0.83);
  font-weight: 860;
  font-size: 42px;
  line-height: 109.524%;
}

/*Features*/
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 16px 0 25px 0;
  gap: 6px;
}

.feature-card {
  border-radius: 12px;
  min-height: 139px;
  display: flex;
  align-items: end;
  padding: 9px 8px 12px 8px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.feature-card--unlim  { background-image: url(./assets/UnlimArt.png); }
.feature-card--styles { background-image: url(./assets/ExclusiveStyles.png); }
.feature-card--avatars{ background-image: url(./assets/MagicAvatars.png); }

.feature-card__text {
  height: fit-content;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}

/* Plans  */
.plans {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.plan {
  position: relative;
  height: 56px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff00;
  backdrop-filter: blur(5.436563491821289px);
  display: flex;
  align-items: center;
}
.plan.active {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5.436563491821289px);
}

.plan--yearly.active .plan__decor-left,
.plan--yearly.active .plan__decor-right {
  opacity: 0;
}
.plan--yearly.active .plan__badge {
  background:
    linear-gradient(90deg, #ffffff 0%, #ffffff 100%) padding-box,
    linear-gradient(90deg, #ffffff, #ffffff) border-box;
  border: 1.1px solid transparent;
  color: #141131;
}

.plan__decor {
  position: absolute;
  display: flex;
  align-items: center;
  right: 23.8px;
  top: -10px;
}
.plan__decor-left { 
  position: relative;
}
.plan__decor-right { 
  position: absolute;
  right: -1px;
  top: -1px;
}

.plan__badge { 
  box-sizing: border-box;
  border-radius: 100px;
  border: 1.1px solid transparent;
  background:
    linear-gradient(90deg, #BC1FEF 0%, #0035FF 100%) padding-box,
    linear-gradient(90deg, #FF96F4, #632AF7, #00B5FF) border-box;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.5);
  height: 20px;
  padding: 0 22px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.plan__grid { 
  display: grid;
  padding: 9px 24px;
  align-items: center;
  gap: 15px;
  width: 100%;
  grid-template-columns: 186px 1fr;
}
.plan__col { 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.plan__col--right { 
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
  text-align: right;
}
.plan__name { 
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}
.plan__hint { 
  color: #fff;
  font-size: 16px;
  opacity: 0.7;
  font-weight: 400;
  white-space: nowrap;
}

.banner__cta { 
  border-radius: 100px;
  background: #fff;
  padding: 16px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  margin: 8px 0 28px 0;
  width: 100%;
  color: #070b33;
  font-size: 20px;
  font-weight: 590;
  line-height: 24px;
}

.legal { 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 281px;
  margin: 0 auto;
  gap: 20px;
}
.legal__link { 
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 200;
  white-space: nowrap;
  line-height: 18px;
  text-decoration: underline;
  opacity: 0.3016;
}


@media screen and (min-width: 375px) and (max-width: 391px) and (min-height: 812px) {
  .banner {
    background-position: center center;
  }
  .features {
    margin: 24px 0 33px 0;
  }
  .banner__close {
    top: 70px;
  }
  .banner__cta {
    margin: 16px 0 34px 0;
  }
  .banner__container {
    padding: 43px 24px 33px 24px;
  }
  .feature-card {
    min-height: 146px;
  }
  .plan__grid {
    grid-template-columns: 171px 1fr;
  }
}

/* SE/8/8+ */
@media (max-height: 740px) {
  .banner { background-position: center -60px; }
  .banner__title { font-size: 36px; }
  .feature-card { min-height: 126px; }
  .plan__grid { grid-template-columns: 171px 1fr; }
}

.lang-de .plan__name { font-size: 14px; }

.lang-de .legal__link,
.lang-es .legal__link,
.lang-fr .legal__link,
.lang-pt .legal__link { font-size: 10px; }

.lang-de .legal,
.lang-fr .legal { max-width: 100%; }

.lang-fr .plan__hint,
.lang-pt .plan__hint { font-size: 14px; }

.lang-pt .banner__title { font-size: 35px; }
.lang-fr .banner__title { font-size: 33px; }
